.attack {
    filter: invert(19%) sepia(96%) saturate(481%) hue-rotate(0deg) brightness(67%) contrast(119%);
}

.recon {
    filter: invert(19%) sepia(96%) saturate(481%) hue-rotate(90deg) brightness(87%) contrast(119%);
}

.explosion-container {
    background: none;
    border: none;
}

.blast {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 150, 0, 1) 40%, rgba(255, 0, 0, 0) 70%);
    animation: explode-animation 0.8s ease-out forwards;
}

@keyframes explode-animation {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}